:root {
    --bg-img1: url("resources/blue.jpg");
    --bg-img2: url("https://img.freepik.com/premium-vector/abstract-gradient-background-with-grainy-texture_74563-1544.jpg?w=2000");
    --bg-img3: url("https://wallpapercrafter.com/desktop/15421-gradient-green-texture-background-4k.jpg");
    --bg-img4: url("resources/orange.jpg");
    --bg-img5: url("resources/purple.jpg");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-img1);
    background-size: cover;
}

h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background: var(--bg-img1);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1:hover {
    font-size: 205px;
}